// Import

@import "normalise";

// Variables

$green : #008085;
$red : #f44336;
$bg-color: #dde0d7;
$color-bg-color: #f0eee1;

$font-dark : #333333;
$font-light : #6a6969;

// My reset

h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0 0 1em;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: $red;

    &:hover{
        text-decoration: none;
    }
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

// layout

html{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: $font-light;
}

// Header

.site-branding,
.contact-information{
    padding: 4vw;

    p:last-child{
        margin: 0;
    }
}

.site-branding{
    background-color: $bg-color;

    .site-title{
        margin: 0;
    }

    .custom-logo{
        max-height: 200px;
        width: auto;
        display: block;
        margin-bottom: 1em;
    }

    .site-description{
        font-size: 18 / 16 + 0em;
        text-transform: uppercase;
        color: $font-dark;
    }
}

.contact-information{
    background-color: $green;
    color: #fff;
}

@media (min-width: 50em) {

    .site-header{
        display: flex;
    }
    .site-branding{
        flex-basis: 78%;
    }
    .contact-information{
        flex-basis: 22%;
        padding-top: calc(5vw + 7.5em);
    }
}

// Menu

.menu-toggle{
    display: block;
    width: 15vw;
    height: 15vw;
    max-width: 7.5em;
    max-height: 7.5em;
    min-width: 3.75em;
    min-height: 3.75em;
    border: 2px solid #fff;
    background-color: $green;
    transition: background-color 300ms;
    position: fixed;
    z-index: 101;
    top: 2vw;
    right: 2vw;


    #burger{
        width: 33%;
        height: 33%;
        display: block;
        margin: 33%;
        stroke: #fff;
    }
    .top, .bottom{
        transition: transform 400ms, opacity 400ms;
        transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }
    .mid{
        transition: opacity 300ms;
        opacity: 1;
    }
    .top{
        transform-origin: 7px 11px;
    }
    .bottom{
        transform-origin: 7px 19px;
    }
}
.menu-toggle.open{
    background-color: $red;

    .top{
        transform: rotate( 45deg);
    }
    .bottom{
        transform: rotate( -45deg);
    }
    .mid{
        opacity: 0;
    }
}

#top-menu{
    background-color: $red;
    min-width: 22%;
    padding: 2vw 4vw;

    .top-menu{
        margin: 0;
        padding: 0;
    }

    .menu-item{
        display: inline-block;
        text-transform: uppercase;
        font-size: 14 /16 + 0em;

        a{
            color: #fff;
            text-decoration: none;
            padding: .5em;
            display: block;
        }
    }

    .js &{
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        height: 100vh;
        max-width: 90vw;
        transform: translateX( 100%);
        transition: transform 300ms ease-out;
        padding-top: calc( 5vw + 7.5em );

        .menu-item{
            display: block;
        }
    }
    &.open{
        display: block;
        transform: translateX( 0% );
    }
}


.icon{
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.social-media-menu{
    font-size: 25 / 16 + 0em;

    .social-link{
        display: inline-block;
        color: #fff;
        opacity: 0.6;
        transition: opacity 300ms;
        margin-right: 0.2em;

        &:focus,
        &:hover{
            opacity: 1;
        }
    }

    .site-footer &{

        .social-link{
            color: $font-dark;
        }
    }
}


// Home

.front-page-header{

    .archive-description-wrapper{
        background-color: $color-bg-color;
        color: $font-light;
        font-weight: 300;

        h2{
            font-size: 24 / 16 + 0em;
            color: $font-dark;
            font-weight: 300;
        }
    }
}

.offer-grid{
    text-transform: uppercase;
    color: $font-dark;

    .offer-title{
        margin: 0 0 0.5em;
        font-size: 14 / 16 + 0em;
        font-weight: 700;
    }

    p{
        font-size: 12 / 16 + 0em;

    }

    @media (min-width: 40em){
        &.post-grid .hentry{
            flex-basis: 33.33%;
            min-height: 33.33vw;
        }
    }
}

.front-project-container.project-grid {

    .archive-link,
    .archive-title-wrapper{
        background-color: $green;
        color: #fff;
    }

    .archive-link{
        display: block;
        padding: 2em 5%;
        text-decoration: none;

        .archive-title{
            font-size: 14 /16 + 0em;
            font-weight: 300;
            margin: 0;

            &::before{
                display: none;
            }
        }
    }

    @media (min-width: 62em) {
        .archive-title,
        .archive-link .archive-title{
            margin-top: 62%;
        }

        .archive-link,
        .archive-title-wrapper{
            flex-basis: 33.33%;
            box-sizing: border-box;
        }

        .hentry{
            flex-basis: 66.66%;

            &:nth-child(3n+3){
                flex-direction: row;
            }
        }

    }
}

.front-page-post-grid{

    @media (min-width: 40em){
        &.archive-page-header{

            .archive-title-wrapper{
                flex-basis: 100%;
                min-height: 0;
            }
            .archive-title{
                margin-top: 1em;
            }
        }
    }

    @media (min-width: 56em){
        &.archive-page-header{

            .archive-title-wrapper{
                flex-basis: 33.33%;
                min-height: 33.33vw;
            }
            .archive-title{
                margin-top: 62%;
            }
        }
    }

}

// Post/default grid
.archive-page-header{
    color: #fff;

    @media (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (min-width: 56em) {
        .archive-title{
            font-size: 30 / 16 + 0em;
        }
    }
}

.archive-title-wrapper{
    padding: 2em 5%;
    background-color: $red;
    overflow: hidden;

}

.archive-title{
    font-size: 22 / 16 + 0em;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;

    &:before{
        content: '';
        width: 1.5em;
        border-top: 2px solid #fff;
        display: block;
        position: absolute;
        top: -0.3em;
        left: 0;
    }
}
@media (min-width: 40em) {
    .archive-title-wrapper{
        flex-basis: 33.33%;
        min-height: 33.33vw;
        box-sizing: border-box;
    }


    .archive-description-wrapper{
        flex-basis: 66.66%;
        min-height: 33.33vw;
        box-sizing: border-box;
    }

    .archive-title{
        margin-top: 62%;
    }
}

.archive-description-wrapper{
    padding: 2em 5%;
    background-color: #f5554a;
}

.hentry{
    .entry-link{
        text-decoration: none;
        color: $font-dark;
        transition: color 666ms;

        &::after{
            content: ' ';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &:hover,
        &:focus{
            color: #fff;
        }
    }

    .entry-title{
        font-size: 24 / 16 + 0em;
        text-transform: uppercase;
        margin-bottom: 0.3em;
    }

    .entry-date{
        font-size: 12 /16 + 0em;
        margin-bottom: 1.2em;
    }

    .wp-post-image{
        display: block;
        margin-bottom: 1.3em;
    }

    &.post .entry-content{
        padding: 0 3%;
        font-size: 12 / 16 + 0em;
        text-transform: uppercase;

        p:last-child{
            margin-bottom: 0;
        }
    }
}

.post-grid,
.project-grid,
.site-sidebar{

    .hentry {
        position: relative;
        transition: background-color 666ms, color 666ms;
        margin: 0 auto;

        &:hover {
            background-color: $red;
            color: #fff;

            .project-offers-list{
                color: #fff;
            }
        }

        @media (min-width: 40em) {
            margin: 0;
        }
    }
}

.post-grid{
    background-color: $color-bg-color;

    .hentry{
        padding: 2em 5%;
        max-width: 500px;
    }


    @media (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .hentry{
            flex-basis: 50%;
            min-height: 50vw;
            box-sizing: border-box;
        }
    }
    @media (min-width: 56em) {
        .hentry {
            flex-basis: 33.33%;
            min-height: 33.33vw;
        }
    }
}

// Project
.project{

    .entry-title {
        font-weight: 300;
        text-transform: uppercase;
    }


    .project-meta,
    .project-offers-list{
        font-size: 12 / 16 + 0em;
    }

    .project-offers-list{
        margin-bottom: 1em;
        color: $red;
        transition: color 666ms;
    }

    .project-meta p{
        margin-bottom: 0.2em;
    }
    .meta-label{
        font-weight: 700;
    }
}

.project-grid{
    text-transform: uppercase;
    font-weight: 300;

    .project-content-wrapper{
        padding: 2em 5%;
    }

    .attachment-square{
        display: block;
        margin-bottom: 0;
    }


    .project-offers-list{
        transition: color 666ms;
    }

    @media (min-width: 40em) {
        .hentry{
            display: flex;
            align-items: center;

            &:nth-child(odd){
                flex-direction: row-reverse;
            }
        }

        .project-content-wrapper,
        .thumbnail-wrapper{
            flex-basis: 50%;
            box-sizing: border-box;
        }

    }
    @media (min-width: 62em) {
        display: flex;
        flex-wrap: wrap;

        .hentry{
            flex-basis: 50%;

            &:nth-child(odd){
                flex-direction: row;
            }

            &:nth-child( 3n + 3 ),
            &:nth-child( 4n + 4 ){
                flex-direction: row-reverse;
            }
        }
    }
}

// Single
.single-container {

    .hentry-container{
        max-width: 700 / 16 + 0em;
        margin: 0 auto;

        .entry-title {
            font-size: 30 / 16 + 0em;
            margin-bottom: 0.2em;
        }

        .hentry{
            padding: 3em 5%;
            max-width: 770 / 16 + 0em;
            margin: 0 0 0 auto;

            .entry-content{
                text-transform: none;
                font-size: 1em;
                padding: 0;
            }
        }
        .entry-header{
            margin-bottom: 2em;
        }

        .project-meta,
        .project-offers-list{
            font-size: 14 / 16 + 0em;
        }
    }
    .post-grid{
        background-color: transparent;
    }


    @media (min-width: 40em) {
        display: flex;
        flex-wrap: wrap;

        .hentry-container{
            flex-basis: 66%;
        }
        .site-sidebar{
            flex-basis: 33%;
        }
        .hentry-container .hentry {
            padding: 3em 8%;
        }

        .related-post{
            flex-basis: 100%;
        }
    }
}

.related-post-title{
    font-size: 14 / 16 + 0em;
    font-weight: 700;
    text-align: center;
    color: $font-dark;
    text-transform: uppercase;
    margin: 2em 5%;
}

.site-sidebar{
    background-color: #f7f7f7;
    padding: 2em 0 0;

    .hentry {
        padding: 1em 5%;
    }

    .sidebar-title{
        color: $font-dark;
        text-transform: uppercase;
        margin: 0 5% 1.5em;
        font-size: 14 / 16 + 0em;
    }

    > .wp-post-image{
        margin: -2em 0 2em;
    }
}

.sidebar-more{
    background-color: $red;
    padding: 2em 5% 1em;
    color: #fff;

    a{
        color: currentColor;
    }

    .sidebar-more-title{
        margin: 0 0 1em;
        color: currentColor;
    }
}


// page
.page-container{

    .entry-content{
        padding: 3em 5%;
    }

    @media (min-width: 60em) {

        .hentry{
            display: flex;
            align-items: flex-start;
        }
        .entry-content{
            max-width: 960 / 16 + 0em;
            margin: 0 auto 0 0;
            box-sizing: border-box;
        }
    }

}

// Offer
.offer-list{

    .offer-content,
    .offer-header{
        padding: 2em 5%;
    }
    .offer-header{
        display: flex;
        align-items: center;
        background-color: $color-bg-color;
        color: $font-dark;

        p{
            font-weight: 700;
            font-size: 14 / 16 + 0em;
            margin: 0;
        }

        .offer-icon{
            max-width: 40px;
        }
    }

    .offer-header-flex-img{
        margin-right: 1em;
    }

    .offer-title{
        font-size: 18 / 16 + 0em;
        font-weight: 300;
        margin: 0 0 0.2em;
        text-transform: uppercase;
    }

    .offer-example{
        font-style: italic;
    }

    h3{
        color: $font-dark;
        text-transform: uppercase;
        font-weight: 700;
    }

    .page-offer-grid{
        font-size: 14 / 16 + 0em;
    }

    @media (min-width: 38em) {

        .page-offer-grid{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .page-offer-row{
            flex-basis: 30%;
        }

        .offer-example{
            flex-basis: 100%;
        }
    }
    @media (min-width: 50em) {
        max-width: 960 / 16 + 0em;
        margin: 0 auto 0 0;
    }
}


// navigation

.navigation{
    padding: 3em 5%;
}

.nav-links{
    text-align: center;
}

.page-numbers{
    display: inline-block;
    text-decoration: none;
    padding: 0 .5em;
    transition: color 300ms;
    color: $font-light;
    font-size: 14 / 16 + 0em;

    &.current,
    &:hover,
    &:focus{
        color: $red;
    }
}

// site-footer

.site-footer{
    padding: 2em 5%;
    text-align: right;
    background-color: $bg-color;
}

.entry-content{

    @import "editor";
}